<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h1>Error: <%= message %></h1>
        <p><%= error.status %> - <%= error.message %></p>
        <p>Sorry, something went wrong!</p>
        <a href="/" class="btn btn-primary mt-3">Go back to Home</a>
    </div>
</div>



