/* Tablet Styles (min-width: 601px and max-width: 1024px) */
body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 15px;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
}

header {
    background-image: linear-gradient(to right, black, red);
    padding: 30px 15px;
}

footer {
    padding: 30px 15px;
}