<h1>About Me</h1>

<!-- Profile Section -->
<div class="row">
    <div class="col-md-4 text-center">
        <!-- Profile Picture -->
        <img src="/images/pfp.png" alt="Profile Picture" class="img-fluid rounded-circle border border-warning">
    </div>

    <div class="col-md-8">
        <div class="text-background p-3">
            <p>I'm <strong>Piratheesh Gunaseelan</strong>, a passionate cybersecurity enthusiast who is committed to protecting virtual environments.
                I'm looking for a profession in cybersecurity, with a particular emphasis on system protection, vulnerability identification, and secure solution development.
                Projects that showcase my expanding skill set and provide insights into my career path can be found here.</p>
        </div>
    </div>
</div>

<!-- Video Section -->
<div class="video mt-4">
    <video class="w-100" controls>
        <source src="/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
